*{
    margin: 0;
}

:root{
    --cinza-fundo: #f7f7f7;
    --cinza-texto: #c6c6c6;
    --vermelho: #ee2211;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cinza-fundo);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info{
    display: grid;
    padding: 30px;
    text-align: right;
    align-content: center;
    gap:20px;
    position: relative;
}
p{ /* Definição do tamanho da fonte do parágrafo*/
    font-size: 1.2rem;
    line-height: 1.3;
}
.info h1{ /* Definição do tamanho da fonte do h1*/
    font-size: 2rem;
    align-self: end;
}
.bg-branco{
    background-color: white;
    border-radius: 4px;
}
.flex{
    display: flex;
    justify-content: center;
}
.bike-foto{
    max-width: 100%;
}
/*Definições gerais*/
header{
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
}

header .bikecraft-logo{
    width: 150px;
    margin-bottom: 60px;
}
nav a{
    background-color: white;
    padding: 15px 25px;
    margin-right: 20px;
    border-radius: 4px;
    margin-bottom: 60px;
    text-decoration: none;
    color: #111;
    border: 2px solid transparent;
}
nav{
    margin-bottom: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
main{
    margin: auto;
    max-width: 1000px;
}
.vejabtn{
    text-decoration: none;
    color:white;
    background-color: var(--vermelho);
    padding: 10px 20px;
    border-radius: 4px;
    justify-self: end;
}
.palavra-vantagens{
    font-size: 4rem;
    color:rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 40px;
    align-self:center;
    background-image: url("./imagens/onda.svg");
}

.vantagens-item{
    display: grid;
    grid-template-columns: auto auto;
    gap:10px 20px;
}
.vantagens-item p{
    grid-column: 2;
}
.vantagens > div{
    position: relative;
    margin: 50px 50px 20px 50px;
    padding: 20px 50px 20px 20px;
}
.info::after{
    content: "";
    position: absolute;
    top:30px;
    right: -30px;
    background-color: var(--vermelho);
    width: 60px;
    height: 4px;
}

.vantagens-item:nth-child(odd){
    background-color: var(--cinza-fundo);
}

footer{
    margin-top: 20px;
    background-color: white;
    text-align: center;
    padding: 50px;
}
/* Utilização do hover */

nav a:hover{
    border: 2px outset #e21;
 }

main a:hover{
    background-color: #870b00;
}

.vantagens-item:hover{
 border-left: 4px solid #ee2211;
}